<!DOCTYPE html>
<html>

<head>
    <title>Task 3</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>

    <header>
        <form id="form">
            <input type="text" id="in1" placeholder="Enter Address">
            <button id="btn1">search</button>
        </form>
    </header>

</body>

</html>